name: Auto Job Bot

on:
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install libs
      run: |
        pip install selenium beautifulsoup4 python-dotenv supabase

    - name: Run bot
      env:
        SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
        EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      run: python main.py

    - name: Wait 5 minutes
      run: sleep 300

    - name: Trigger again
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: run.yml
        token: ${{ secrets.GITHUB_TOKEN }}
